<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>

<p>Here We Go!</p>
<%= link_to 'To Public Page', users_path %>
<br/>
<img src="http://deliveringhappiness.com/wp-content/uploads/2011/10/happyball.jpg" alt="Happy Thoughts">