<div class="main_content centered">
  <br/>
  <p style="font-size:111px" id="main_title">Mood Tracking App</p>
</div>

<script type="text/javascript">
  blacked_out = false;
  $("#main_title").click(function(){
    if(blacked_out){
      d3.select("body").transition().duration(1000)
          .style("background-color", "white");
      d3.selectAll("p").transition().duration(1000)
          .style("color", "black");
      blacked_out = false;
    }
    else{
      d3.select("body").transition().duration(1000)
          .style("background-color", "black");
      d3.selectAll("p").transition().duration(1000)
          .style("color", "white");
      blacked_out = true;
    }
  })
</script>