<div>
  <div>
    <% todays_entry = current_user.todays_entry() %>
    <% if entry == todays_entry %>
      <%= render partial: 'entries/form', locals: {entry: entry}%>
    <% else %>
      <div>
        <p id="entry_area">
          <%= newline_to_br(entry.text) %>
        </p>
        <div>
          <h4 class="inline" id="wordcount_indicator">  </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>