<div class="row inline" id="entry_history">
  <% for entry in entries %>
    <a href=<%= entry_path(entry) %> class="inline">
      <% if entry.text.to_s.strip.length == 0 %>
        <div class="inline empty_entry_link"></div>
      <% else %>
          <div class="inline entry_link"></div>
      <% end %>
    </a>
  <% end %>
</div>