<div class="inline" id="entry_history">
  <% for entry in entries.sort_by &:created_at %>
    <a href="<%= entry_path(entry) %>" title="<%= entry.created_at.strftime "%B %d, %Y" %>" class="inline">
      <% if entry.text.to_s.strip.length == 0 %>
        <div class="inline entry_link empty_entry_link"></div>
      <% elsif entry == current_entry %>
          <div class="inline entry_link current_entry_link"></div>
      <% else %>
          <div class="inline entry_link full_entry_link"></div>
      <% end %>
    </a>
  <% end %>
</div>