<div>
  <div id="entry_panel">
    <%= form_for(entry, url: entry_path(entry), remote: true) do |form| %>
      <textarea id="entry_area" autofocus="autofocus" name="entry[text]"><%= entry.text %></textarea>
      <div style="display: flex; justify-content: space-between;">
        <div id="wordcount_container">
          <h4 class="inline" id="wordcount_indicator">  </h4>
          <div id="save_indicator"></div>
        </div>
        <div id="save_button_container">
          <%= form.submit 'Save', class: "button", id: "entry_submit", class: "inline, button", style:"width:90px; height:60px;"%>
        </div>
      </div>
    <% end %>
  </div>
  <%= javascript_include_tag 'wordcount'%>
  <script>
    docReady(function(){
      document.addEventListener("keydown", function(e) {
        if ((window.navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey) && e.keyCode == 83) {
          e.preventDefault();
          document.getElementById("entry_submit").click();
        }
      }, false);
    });
  </script>
</div>
