<div class="row">
  <div class="columns large-centered large-10">
    <p id="entry_area">
      <%= @entry.text %>
    </p>
    <div class="row">
      <div class="columns large-8">
      <p></p>
      </div>
      <div class="columns large-2">
        <h4 class="inline" id="wordcount_indicator">  </h4>
      </div>
    </div>
  </div>
</div>
