<div class="row">
  <div class="columns large-centered large-12">
    <%= render partial: 'entries/entry_history', locals: {user: @user, entries: @user.entries} %>
    <% todays_entry = @user.todays_entry() %>
    <% if @entry == todays_entry %>
      <%= render partial: 'entries/form', locals: {user: @user, entry: todays_entry}%>
    <% else %>
      <p id="entry_area">
        <%= @entry.text %>
      </p>
      <div class="row">
        <div class="columns large-8">
        <p></p>
        </div>
        <div class="columns large-2">
          <h4 class="inline" id="wordcount_indicator">  </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
