/* line 4, app/assets/stylesheets/front_page.css.scss */
#main_image {
  border-radius: 20px;
  height: 400px;
  width: auto;
}

/* line 9, app/assets/stylesheets/front_page.css.scss */
.centered {
  text-align: center;
}

/* line 13, app/assets/stylesheets/front_page.css.scss */
.main_content * {
  font-size: 30px;
}
