<div class="row">
  <div class="large-4 columns">
    <a href="<%=assessments_path()%>">
    <div class="panel link-panel" >
      &nbsp; <h2 style="margin-bottom:22px">Assessments</h2>
    </div></a>
  </div>
  <div class="large-4 columns">
    <a href="<%=entry_path(user.todays_entry())%>">
    <div class="panel link-panel" >
      &nbsp; <h2 style="margin-bottom:22px">Today's Entry</h2>
    </div></a>
  </div>
  <div class="large-4 columns">
    <a href="<%=user_graph_path %>">
    <div class="panel link-panel" >
      &nbsp; <h2 style="margin-bottom:22px">Graphs</h2>
    </div></a>
  </div>
</div>