<div class="flex_container flex_column_centered">
  <a href="<%=entry_path(user.todays_entry())%>" class="panel link-panel">
    <h2>Today's&nbsp;Entry</h2>
  </a>
  <a href="<%= entry_history_path %>" class="panel link-panel">
    <h2>History</h2>
  </a>
  <a href="<%=user_graph_path %>" class="panel link-panel">
    <h2>Stats</h2>
  </a>
</div>