<div>
  <h3>Total Words Typed: <%= number_with_delimiter(@word_info[:word_count], delimiter: ',') %></h3>
  <h3>Total Unique Words: <%= number_with_delimiter(@word_info[:uniq_words], delimiter: ',') %></h3>
  <h3>Most Used Words:</h3>
</div>

<span id="word_container"></span>
<script>
  var data = <%= @word_info[:most_used].to_json.html_safe %>;
  docReady(function() {
    setTimeout(function() {
      GenerateMostUsedWords(data);
    }, 100);
  });

function GenerateMostUsedWords(data){
  var adjustmentConstant = 1
  if(data.length > 0){
    adjustmentConstant = 18.0/data[0][1]
  }
  var wordContainer = document.getElementById("word_container");
  var htmlFragments = [];
  for (var i = 0; i < data.length; i++) {
    var [word, wordcount] = data[i];
    var fontSize = (wordcount*adjustmentConstant) + 0.6
    htmlFragments.push(
      `<span class='uniq_word' title='${wordcount}' style='font-size:${fontSize}em; color:${getRandomColor()};'>${word} </span>`
    );
  }
  wordContainer.innerHTML = htmlFragments.join("");
}

//const letters = '0123456789ABCDEF'.split('');
const letters = '56789ABCDEF'.split('');
function getRandomColor() {
  var color = '#';
  for (var i = 0; i < 6; i++ ) {
      color += letters[Math.floor(Math.random() * 10)];
  }
  return color;
}
</script>