<h2>Hello <%=h @user.name %></h2>

<p>Today's Entry:</p>

<div class="row">
  <div class="large-6 columns">
    <a href="<%=user_entry_path(@user, @user.todays_entry())%>">
    <div class="panel link-panel" >
      &nbsp; <h2>Events</h2>
    </div></a>
  </div>
  <div class="large-6 columns">
    <a href="<%=user_entry_path(@user, @user.todays_entry())%>">
    <div class="panel link-panel" >
      &nbsp; <h2>Notes</h2>
    </div></a>
  </div>
</div>