<h2>Hello <%=h @user.name %></h2>

<%= render partial: 'entries/entry_history', locals: {entries: @user.entries} %>
<p>Today's Entry:</p>
<%= render partial: 'entries/form', locals: {entry: @user.todays_entry()}%>