<h3>Start:</h3>
<% @entries.each do |entry|  %>
  <% pos_from_start = entry.updated_at.to_i - @earliest_time %>
  <% pos = lerp(0, @total_entry_height, (pos_from_start/@time_range)) %>
  <p style="position: absolute; top:<%= pos %>px;">
    <%= entry.updated_at.strftime("%F") %>
  </p>
<% end %>