/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui
 */

#LoggedInIndicator{
  font-size: 12px;
  text-align:left;
  margin: 20px;
  width:100%;
  top:0px;
}

.page_content{
}

.no_vertical_margin{
  margin-top:0px;
  margin-bottom:0px;

}
.indented{
  margin-left: 25px;
}

#entry_area{
  height:65vh;
  font-size:20px;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#entry_area:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
}

.entry_link{
  width:30px;
  height:40px;
  background-color:#00CCFF;
  border-radius:7px;
}

.empty_entry_link{
  width:30px;
  height:40px;
  border-radius:7px;
  border: 4px solid #00CCFF;
}

.entry_link:hover{
  background-color:#00AACC;
}

#save_indicator small{
  line-height: 1px !important;
}

#wordcount_indicator {
  margin:0px;
}

#flash .info_box{
  background-color: #FFFF00;
  border-radius:10px;
  border: 5px solid #333333;
}
#flash .error_box{
  background-color: #FF1111;
  border-radius:5px;
}

.inline{
  display:inline-block;
}

.panel{
  border-radius:10px;
  background-color: #FFFFFF;
}

.saved_panel{
  background-color: #DDFFDD;
}

.link-panel:hover {
  background-color: #AAAAAA;
}
