/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require front_page
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  font-family: 'Lato', sans-serif;  font-weight: normal;
  line-height: 1.5;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6, input, textarea {
  font-family: 'Lato', sans-serif; font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}

a {
  line-height: inherit;
  color: #33AAFF;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: #1468a0; }
  a img {
    border: 0;
}

.text_panel {
}

#LoggedInIndicator {
  text-align:left;
  margin: 20px 0px 0px 20px;
  width:100%;
  top:0px;
  font-size: 1.25em;
}

.flex_container {
  display: flex;
  justify-content: center;
}

.flex_column_centered {
  flex-direction: column;
  align-items: center;
}

.main_column {
  width:1150px;
}

.no_vertical_margin {
  margin-top:0px;
  margin-bottom:0px;
}
.indented {
  margin-left: 25px;
}

#entry_area {
  height:65vh;
  width: 100%;
  font-size:21px;
  line-height:30px;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #0f0f0f;
}

#entry_panel {
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  background: #0f0f0f;
  color: #FFFFFF;
}

#entry_area:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #0f0f0f;
}

.entry_link {
  border-radius:7px;
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
  color: #FFFFFF;
  background-color:#33AAFF;
  display:inline-block;
}

.entry_link:hover {
  background-color:#0088cc;
  color: #FFFFFF;
}

#save_indicator small{
  line-height: 1px !important;
}

#wordcount_indicator {
  margin:0px;
  font-size: 1.5em;
}

#flash {
  color: black;
}

#flash .info_box {
  background-color: #b1ffb0;
  border-radius:10px;
  border: 1px solid #333333;
  display: inline-block;
  padding: 2px 7px 2px 7px;
  margin: 20px 0px 0px 20px;
}
#flash .error_box {
  background-color: #FF1111;
  border-radius:5px;
}

.inline {
  display:inline-block;
}

.panel {
  border-style: solid;
  border-width: 1px;
  border-radius:10px;
}

.saved_panel {
  background-color: #DDFFDD;
}

#save_button_container {
  margin: 0px 33px 0px 33px;
}

#wordcount_container {
  margin: 0px 30px 0px 30px;
}

.link-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  font-size: 1.15em;
  margin: 5px;
}

.link-panel:hover {
  background-color: #33AAFF;
  color: #FFFFFF;
}

.answer_form:hover {
  background-color: #AAAAAA;
}

.uniq_word {
  line-height:0.8em;
}

.button {
  border: 0;
  border-radius:7px;
  margin-bottom: 0px;
  background-color:#33AAFF;
  color: #fdfdfd;
  padding: 8px;
  font-size: 1.25em;
}

form input {
  border-radius: 5px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  padding: 5px;
  margin-bottom: 5px;
  color:#111;
}

.button:hover {
  background-color:#0088cc;
}
