<div id="flash">
  <% if flash[:notice] %>
    <h3 class="info_box no_vertical_margin"><%= flash[:notice] %></h3>
  <% end %>
  <% if flash[:error] %>
    <h3 class="error_box"><%= flash[:error] %></h3>
  <% end %>
</div>